<div>
    FourthComponent
</div>
<div class="left">
    <mat-form-field class="example-form-field">
        <mat-label>Id</mat-label>
        <input #id matInput type="text" placeholder="Id" />
    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Name</mat-label>
        <input #name matInput type="text" placeholder="Name" />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addProductToFavorites(id.value, name.value)">Crear Tarea</button>
</div>
<div>
    <p>Número de estados de productos: {{(favoritesProducts | async)?.length}}</p>
</div>
<table class="table table-hover" *ngIf="(favoritesProducts | async)?.length != 0">
    <thead>
        <tr>
            <td>Product Id</td>
            <td>Product Name</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of favoritesProducts | async">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
        </tr>
    </tbody>
</table>