<section class="first-section">
    <div class="questionnaire">
        <h1>Cuestionario</h1>
        <form [formGroup]="form">
            <div *ngIf="first?.invalid">Name is too short</div>
            <div>
                <input formControlName="first" placeholder="First name" />
            </div>
            <div>
                <input formControlName="last" placeholder="Last name" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
            <button (click)="clearAll()">Clear all</button>
        </form>
    </div>
</section>

