.first-section {
    padding: 8px;
    border-width: 1px;
    // background-color: lightgoldenrodyellow;
}

.questionnaire {
    padding: 8px;
    border-width: 1px;
    border: solid #333;
}

.questionnaire div {
    padding-bottom: 8px;
}